<!-- Displays a menu for a Pizza store, loading a list of menu items into an array
 and display the menu formatted in the web browser.  -->
<h1> {{ title }}</h1>
<table>
  <tr>
    <th>Item</th>
    <th>Category</th>
    <th>Price</th>
    <th>Vegetarian?</th>
    <th></th>
  </tr>
  @for(m of menuItems; track $index){
    <tr [class.sold-out]="m.soldOut == true">
      <td>{{m.name}}</td>
      <td>{{m.category}}</td>
      <td>{{m.price}}</td>
      @if(m.vegetarian){
        <td>✅</td>
      }
      @else{
        <td></td>
      }
      @if(m.soldOut){
        <button disabled = "{{m.soldOut}}">Add to Order</button>
      }
      @else{
        <td>
          <button (click)="total = total + m.price">Add to Order</button>
        </td>
      }
    </tr>
  
  }
</table>


<p class = total>Current Order Cost: ${{total}} </p>